<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SamurAI</title>
</head>
<body>
    <app-navbar [username]="username" [userLoggedIn]="userLoggedIn"></app-navbar>
    <ng-container *ngIf="userLoggedIn; else initialPage">
        <router-outlet></router-outlet>
    </ng-container>

    <ng-template #initialPage>
        <app-initial></app-initial>
        <router-outlet></router-outlet>
    </ng-template>
</body>
</html>

