html, body {
    height: 100%;
}

.info-component {
    width: 1228px;
    height: 658px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: default;
    margin: 60px auto;   
}

.info-component-title {
    width: 1117px;
    color: #E57829;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 0 auto;
    padding: 50px;
}

.info-flex {
    display: flex;
}

.info-grid {
    width: 550px;
    margin: 0 auto;
    text-align: center;
}

.info-title {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 20px auto;
}

.info-text {
    color: #000;
    font-size: 32px;
    font-weight: 400;
}

.join-button {
    width: 210px;
    height: 68px;
    border-radius: 50px;
    border: none;
    background: #E57829;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-weight: 700;
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}